
<ion-header>

  <ion-navbar class="navbarInicio">
  <ion-title id="titulo">
    Bienvenidos al piedra papel o tijera
  </ion-title>
  </ion-navbar>
      <div class="TextoInicio">
        {{ronda}}
   </div>
  </ion-header>
      
      
  
    <ion-content padding class="triviaUno">
      <div align="center" *ngIf="vJuego">
     <img src="assets/img/piedra.png" width=80 height=80 (click)="Jugo('piedra')" >
     <img src="assets/img/papel.png" width=80 height=80 (click)="Jugo('papel')"> 
     <img src="assets/img/tijera.png" width=80 height=80  (click)="Jugo('tijera')"> 
      </div>

            <div align="center" *ngIf="vMaquina">
              <p>&nbsp;</p>
              <p><img [src]=imgVS width=80 height=80>
              </p>
              <h2>{{jugo}}</h2>
                   <p>&nbsp;</p>
                   <p><img [src]=imgMaq width=80 height=80> 
                   </p>
                   <div *ngIf="vEstadisticas">
                     <br>
              </div>
      </div>

    </ion-content>
